<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WeightCenterDesignAndEstimateSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="strCon" connectionString="server=10.216.10.1;user id=sa; password=zww0517; database=WeightCenterDesignSoft" />
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="DAL" />
    <add key="Server" value="127.0.0.1"></add>
    <add key="username" value="zww"></add>
    <add key="password" value="222"></add>
    <add key="url" value=""></add>
    <add key="folder" value=""></add>
  </appSettings>
  <!--输入webService地址:http://192.168.2.162:10086/1213/services/xmlservice?wsdl-->
  <applicationSettings>
    <WeightCenterDesignAndEstimateSoft.Properties.Settings>
      <setting name="WeightCenterDesignAndEstimateSoft_WebReference_xmlservice"
        serializeAs="String">
        <value>http://192.168.2.162:10086/1213/services/xmlservice.xmlserviceHttpSoap11Endpoint/</value>
      </setting>
    </WeightCenterDesignAndEstimateSoft.Properties.Settings>
  </applicationSettings>
</configuration>