<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="strCon" connectionString="server=10.216.10.1;user id=sa; password=zww0517; database=WeightCenterDesignSoft" />
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="DAL" />
    <add key="Server" value="127.0.0.1"></add>
    <add key="username" value="zww"></add>
    <add key="password" value="222"></add>
    <add key="url" value=""></add>
    <add key="folder" value=""></add>
    <add key="Template" value=""></add>
  </appSettings>
</configuration>